<h1>Icosmith Rails Example</h1>

<ul class="icons">
  <li><span class="rails_example info"></span></li>
  <li><span class="rails_example magnifying"></span></li>
  <li><span class="rails_example signal"></span></li>
  <li><span class="rails_example user"></span></li>
</ul>
